@tailwind base;
@tailwind components;
@tailwind utilities;


/* Home.css */
.home-container {
    background-image: url(http://localhost:3000/background.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;

    /* Additional styles for the div element */
  
    /* Responsive styles */
    @media (max-width: 768px) {
      height: 600px;
    }
  
    @media (max-width: 480px) {
      height: 400px;
    }
  }


  .campaign-text {
    font-size: 20px!important;
  }

  .campaign-card {
   padding: 5px!important;
  }

.active {
  background-color: #f0f0f0;
  color: #333;
}

.nav {
  background-color: rgb(76, 125, 208) ;
  font-size: 22px;
  padding: 10px;
  width: 100%;
}

.container-fluid {
  background-color: rgb(76, 125, 208) ;
}

.card-body {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.progress-bar {
  font-size: 17px;
  font-weight: bolder;
}



.custom-label {
 color: black;
}

.profile-card {
  width: auto!important;
}